# cp .env.example .env and change

LINE_PROVIDER_POSTGRES_USER=line_provider
LINE_PROVIDER_POSTGRES_PASSWORD=line_provider
LINE_PROVIDER_POSTGRES_DB=line_provider
LINE_PROVIDER_DATABASE_URL=postgresql+asyncpg://line_provider:line_provider@localhost:5433/line_provider
LINE_PROVIDER_DATABASE_URL_DOCKER=postgresql+asyncpg://line_provider:line_provider@line-provider-db:5432/line_provider
LINE_PROVIDER_TEST_DATABASE_URL=postgresql+asyncpg://line_provider:line_provider@localhost:5433/line_provider_test

BET_MAKER_POSTGRES_USER=bet_maker
BET_MAKER_POSTGRES_PASSWORD=bet_maker
BET_MAKER_POSTGRES_DB=bet_maker
BET_MAKER_DATABASE_URL=postgresql+asyncpg://bet_maker:bet_maker@localhost:5434/bet_maker
BET_MAKER_DATABASE_URL_DOCKER=postgresql+asyncpg://bet_maker:bet_maker@bet-maker-db:5432/bet_maker
BET_MAKER_TEST_DATABASE_URL=postgresql+asyncpg://bet_maker:bet_maker@localhost:5434/bet_maker_test

KAFKA_ENABLED=true
KAFKA_HOST=localhost
KAFKA_PORT=9092
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_BOOTSTRAP_SERVERS_DOCKER=kafka:9093
KAFKA_EVENT_FINISHED_TOPIC=event.finished
KAFKA_CONSUMER_GROUP=bet-maker

LINE_PROVIDER_URL=http://localhost:8001
LINE_PROVIDER_URL_DOCKER=http://line-provider:8000
